#--------------------------------------
# Directories
#--------------------------------------
build/
dist/
coverage/
node_modules/
tmp/

#======================================
# Extensions
#--------------------------------------
*.css
*.gz
*.local
*.log
*.rar
*.tar
*.zip

#======================================
# Extensions
#--------------------------------------
*.css
*.gz
*.local
*.log
*.rar
*.tar
*.zip

#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db


#======================================
# Code
#--------------------------------------
.settings/
.vscode/
tsconfig.json
jsconfig.json